:root{
--bg-black-900:#151515  ;
--bg-black-100:#222222;
--bg-black-50:#393939  ;
--text-black-900:#FFFFFF;
--text-black-700:#E9E9E9;
--ombre:#ffffff1a;
}

body.dark
{
--bg-black-900:#f2f2fc  ;
--bg-black-100:#fdf9ff ;
--bg-black-50:#e8dfec  ;
--text-black-900:#302e4d;
--text-black-700:#504e70;
--ombre:#0000001a;
}

body{
background-color: var(--bg-black-900);
line-height: 1,5;
font-size: 16px;
font-family: Georgia, 'Times New Roman', Times, serif;
}
*
{
padding: 0;
margin: 0;
outline: none;
text-decoration: none;
box-sizing: border-box;
transition: all 1s;
}

::before,::after
{
box-sizing: border-box;
}

ul{
list-style: none;
}

a,h1,h2,h3,h4,h5,h6,p{
text-decoration: none;
color: var(--text-black-700);
}

li{
text-shadow: var(--text-black-700);
}

hr{
background-color: var(--text-black-900);
}

section{
min-height: 100vh;
padding-top: 100px;
right: 0;
opacity: 1;
}

section h3{
color: var(--skin-color);
font-weight: 900;
font-size: 40px;
}

.hidden{
display: none ;
}

button{
background-color: var(--skin-btn);
padding: 16px;
border: none;
border-radius: 20px;
color: white;
}



nav{
position: relative;
width: 100%;
position: fixed;
display: flex;
top: 0;
left: 0;
background-color: var(--bg-black-100);
z-index: 99;
}

nav img{
padding:10px;
width: 20px;
height: 20px;
border-radius: 100%;
position: absolute;
top: 10px;
left: 10px;
}

.searchinput{
text-align: center;
position: relative;
display: block;
margin-left: auto;
margin-right: auto;
color: var(--text-black-700);
padding: 10px;
}


.searchinput input{
position: relative;
color:white;
padding: 10px;
background-color: var(--skin-dark);
border: none;
border-radius: 20px;
width: 300px;
}


.searchinput i{
position: relative;
color:white;
padding: 10px;
background-color: var(--skin-dark);
border: none;
border-radius: 20px;
}

.notif{
background-color:red;
width: 100px;
position: relative;
cursor: pointer;
}

.notif i{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
font-size: 20px;
color: var(--skin-dark);
transition: 1s;
}

.notif:hover i{
transform: translate(-50%,-50%); 
animation: smallrotate 5s infinite;
transition: 1s;
}

@keyframes smallrotate {
0%,46.5%,50%,100%{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transform: rotate(0deg);
    color: var(--skin-dark);
}

47%,48%,49%{
    transform: rotate(45deg);
}
47.5%,48.5%,49.5%{
    transform: rotate(-45deg);
}


}


.notif span{
position: absolute;
top: 55%;
left: 70%;
transform: translate(-50%,-50%);
font-size: 20px;
padding: 2px;
color: white;
background-color: red;
border-radius: 100%;

}


@media screen and (max-width:540px){ 


nav{
position: relative;
width: 100%;
position: fixed;
display: flex;
top: 0;
left: 0;
background-color: var(--bg-black-100);
z-index: 99;
}

nav img{
padding:10px;
width: 20px;
height: 20px;
border-radius: 100%;
position: absolute;
top: 10px;
left: 10px;
}

.searchinput{
text-align: center;
position: relative;
display: block;
margin-left: auto;
margin-right: auto;
color: var(--text-black-700);
padding: 10px;
}


.searchinput input{
position: relative;
color:white;
padding: 10px;
background-color: var(--skin-dark);
border: none;
border-radius: 20px;
padding-left:45px;
width:90%;
}


.searchinput i{
position: absolute;
top: 50%;
left: 20%;
transform: translate(-50%,-50%);
color:white;
padding: 10px;
background-color: var(--skin-dark);
border: none;
border-radius: 20px;
}

.notif{
background-color:red;
width: 20%;
position: relative;
cursor: pointer;
}

.notif i{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
font-size: 20px;
color: var(--skin-dark);
}

.notif span{
position: absolute;
top: 50%;
left: 70%;
transform: translate(-50%,-50%);
font-size: 20px;
padding: 2px;
color: white;
background-color: red;
border-radius: 100%;

}
}

@media screen and (max-width:368px){ 


nav{
position: relative;
width: 100%;
position: fixed;
display: flex;
top: 0;
left: 0;
background-color: var(--bg-black-100);
z-index: 99;
}

nav img{
display: none;

}

.searchinput{
text-align: center;
position: relative;
display: block;
margin-left: auto;
margin-right: auto;
color: var(--text-black-700);
padding: 10px;
}


.searchinput input{
position: relative;
color:white;
padding: 10px;
background-color: var(--skin-dark);
border: none;
border-radius: 20px;
padding-left:45px;
width:90%;
}


.searchinput i{
position: absolute;
top: 50%;
left: 20%;
transform: translate(-50%,-50%);
color:white;
padding: 10px;
background-color: var(--skin-dark);
border: none;
border-radius: 20px;
}

.notif{
background-color:red;
width: 20%;
position: relative;
cursor: pointer;
}

.notif i{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
font-size: 20px;
color: var(--skin-dark);
}



.notif span{
position: absolute;
top: 50%;
left: 70%;
transform: translate(-50%,-50%);
font-size: 20px;
padding: 2px;
color: white;
background-color: red;
border-radius: 100%;

}
}

.burgermenu{
width: 30px;
height: 40px;
position: relative;
}

.burgermenuphone{
display: none;
}

.Spanburger1{
content: '';
background: var(--bg-black-100);
width: 15px;
height: 2px;
border-radius: 5px;
position: absolute;
top: 10px;
left: 0;
}
.Spanburger2{
width: 30px;
height: 2px;
background: var(--bg-black-100);
border-radius: 5px;
position: absolute;
top: 15px;
left: 0;
}
.Spanburger3{
width: 15px;
height: 2px;
background: var(--bg-black-100);
border-radius: 5px;
position: absolute;
top: 20px;
right: 0;
} 

.openmenu .Spanburger1{
content: '';
background: var(--bg-black-100);
width: 15px;
height: 2px;
border-radius: 5px;
position: absolute;
top: 9px;
left: 1px;
transform: rotate(405deg);
transition: ease 1s;

}
.openmenu .Spanburger2{
width: 30px;
height: 2px;
background: var(--bg-black-100);
border-radius: 5px;
position: absolute;
top: 15px;
left: 0;
transform: rotate(495deg);
}
.openmenu .Spanburger3{
width: 15px;
height: 2px;
background: var(--bg-black-100);
border-radius: 5px;
position: absolute;
top: 21px;
right: 1px;
transform: rotate(405deg);
transition: ease 1s;
}


.menu_vertical{
position: fixed;
left: 0;
top: 65px;
background-color: var(--text-black-900);
width: 100px;
height: 90%;
overflow-x: hidden;
border-radius: 0 20px 20px 0;
z-index: 99;
transition: ease 1s;
}


.menu_vertical ul{
padding: 5px;
}

.openmenu.menu_vertical{
position: fixed;
left: 0;
top: 65px;
background-color: var(--text-black-900);
width: 300px;
height: 90%;
border-radius: 0 20px 20px 0;
transition: ease 1s;
}

.logout{
position: absolute;
bottom: 0;
}


.userprofil{
display: flex; 
transition: ease 1s
}

.userprofil img{
width:40px;
height: 40px;
border-radius: 100%;
margin-left: 20px;
transition: ease 1s;
}

.userprofil a{
display: none;
transition: ease 1s;
}

.openmenu.userprofil{
display: flex;
flex-direction: column;
padding: 10px;
transition: ease 1s;
}

.openmenu.userprofil img{
width: 100px;
height: 100px;
border-radius: 100%;
display: block;
margin-left: auto;
margin-right: auto;
transition: ease 1s;
}

.openmenu.userprofil a{
display: block;
padding-top: 5px;
color: var(--skin-light);
transition: ease 1s;
}

.menu_list{
display: flex;
padding: 20px;
flex-direction: column;
}

.menu_list li{
width: 100%;
transition: 1s ease-in-out ;
}

.menu_vertical li:hover{
width: 100%;
background-color: var(--bg-black-900);
border-radius: 20px;
transition: 1s ease-in-out;
}

.menu_vertical li i{
transition: 1s ease-in-out;
}

.menu_vertical li:hover i{
background-color: var(--skin-color);
border-radius: 10px;
color: white;
transition: 1s ease-in-out ;
}

.menu_vertical li  span{
transition: 1s ease-in-out;
}

.menu_vertical li:hover  span{
color: var(--skin-btn);
transition: 1s ease-in-out ;
}


.itemlist{
display: flex;
}

.menu_list i{
font-size: 20px;
padding: 10px;
color: var(--skin-light);
transition: 1s ease;
}

.menu_list span{
display: block;
font-size: 16px;
color: var(--bg-black-900);
padding: 10px;
padding-left: 40px;
transition: ease 1s ;
}




.menu_vertical li.active{
display: flex;
margin-left: 30px;
width: 100%;
background-color: var(--bg-black-900);
border-radius: 10px;
position: relative;
}

.menu_vertical li.active::before{
content:" ";
width:100%;
height: 10px;
border-radius: 20px 0 0 20px;
background-color: var(--bg-black-900);
position: absolute;
top: 50%;
left: -95%;
transform: translate(0,-50%);
transition:ease  1s ;
}



.menu_vertical li.active i{
background-color: var(--skin-color);
border-radius: 10px;
color: white;
transition:  ease 1s;
}

.menu_vertical li.active span{
font-size: 16px;
color: var(--text-black-900);
padding-left: 30px;
transition:  ease 1s;
}


@media screen and (max-width:900px){ 
.burgermenu{
display: none;
}


.burgermenuphone{
display: block;
background-color: var(--bg-black-100);
border-radius: 20px;
width: 50px;
height: 50px;
position: fixed;
top: 65px;
left: 20px;
z-index: 100;
}


.Spanburgerphone1{
content: '';
background: var(--skin-color);
width: 15px;
height: 2px;
border-radius: 5px;
position: absolute;
top: 40%;
left: 30%;
transform: translate(-50%,-50%);
}
.Spanburgerphone2{
width: 30px;
height: 2px;
background: var(--skin-color);
border-radius: 5px;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
}
.Spanburgerphone3{
width: 15px;
height: 2px;
background: var(--skin-color);
border-radius: 5px;
position: absolute;
top: 60%;
right: 30%;
transform: translate(-50%,-50%);
} 

.openmenu .Spanburgerphone1{
content: '';
background: var(--skin-color);
width: 15px;
height: 2px;
border-radius: 5px;
position: absolute;
top: 40%;
left: 40%;
transform: translate(-50%,-50%) rotate(405deg);
transition: ease 1s;

}
.openmenu .Spanburgerphone2{
width: 30px;
height: 2px;
background: var(--skin-color);
border-radius: 5px;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%) rotate(495deg);
}
.openmenu .Spanburgerphone3{
width: 15px;
height: 2px;
background: var(--skin-color);
border-radius: 5px;
position: absolute;
top: 60%;
right: 10%;
transform: translate(-50%,-50%) rotate(405deg);
transition: ease 1s;
}

.menu_vertical{
position: fixed;
left: -100%;
top: 65px;
background-color: var(--text-black-900);
width: 90px;
height: 90%;
overflow-x: hidden;
border-radius: 0 20px 20px 0;
z-index: 99;
transition: ease 1s;
}

.menu_vertical ul{
padding: 5px;
}

.openmenu.menu_vertical{
position: fixed;
left: 0;
top: 65px;
background-color: var(--text-black-900);
width:100%;
height: 90%;
border-radius: 0 20px 20px 0;
transition: ease 1s;
}

.logout{
position: absolute;
bottom: 0;
}


.userprofil{
display: flex; 
transition: ease 1s
}

.userprofil img{
width:40px;
height: 40px;
border-radius: 100%;
margin-left: 20px;
transition: ease 1s;
}

.userprofil a{
display: none;
transition: ease 1s;
}



.openmenu.userprofil{
display: flex;
flex-direction: column;
padding: 0px;
transition: ease 1s;
}

.openmenu.userprofil img{
width: 50px;
height: 50px;
border-radius: 100%;
display: block;
margin-left: auto;
margin-right: auto;
transition: ease 1s;
}

.openmenu.userprofil a{
display: block;
padding-top: 5px;
color: var(--skin-light);
transition: ease 1s;
}

.menu_list{
display: flex;
padding: 5px;
flex-direction: column;
}

.menu_list li{
width: 100%;
transition: 1s ease-in-out ;
}

.menu_vertical li:hover{
width: 100%;
background-color: var(--bg-black-900);
border-radius: 20px;
transition: 1s ease-in-out;
}

.menu_vertical li i{
transition: 1s ease-in-out;
}

.menu_vertical li:hover i{
background-color: var(--skin-color);
border-radius: 10px;
color: white;
transition: 1s ease-in-out ;
}

.menu_vertical li  span{
transition: 1s ease-in-out;
}

.menu_vertical li:hover  span{
color: var(--skin-btn);
transition: 1s ease-in-out ;
}


.itemlist{
display: flex;
}

.menu_list i{
font-size: 20px;
padding: 10px;
color: var(--skin-light);
transition: 1s ease;
}

.menu_list span{
display: block;
font-size: 16px;
color: var(--bg-black-900);
padding: 10px;
padding-left: 40px;
transition: ease 1s ;
}




.menu_vertical li.active{
display: flex;
margin-left: 30px;
width: 100%;
background-color: var(--bg-black-900);
border-radius: 10px;
position: relative;
}

.menu_vertical li.active::before{
content:" ";
width:100%;
height: 10px;
border-radius: 20px 0 0 20px;
background-color: var(--bg-black-900);
position: absolute;
top: 50%;
left: -100%;
transform: translate(0,-50%);
transition:ease  1s ;
}



.menu_vertical li.active i{
background-color: var(--skin-color);
border-radius: 10px;
color: white;
transition:  ease 1s;
}

.menu_vertical li.active span{
font-size: 16px;
color: var(--text-black-900);
padding-left: 30px;
transition:  ease 1s;
}





}

@media screen and (max-width:500px){ 


.menu_vertical{
position: fixed;
left: -100%;
top: 65px;
background-color: var(--text-black-900);
width: 90px;
height: 90%;
overflow-x: hidden;
border-radius: 0 20px 20px 0;
z-index: 99;
transition: ease 1s;
}

.menu_vertical ul{
padding: 5px;
}



.openmenu.menu_vertical{
position: fixed;
left: 0;
top: 65px;
background-color: var(--text-black-900);
width:100%;
height: 90%;
border-radius: 0 20px 20px 0;
transition: ease 1s;
}

.logout{
position: absolute;
bottom: 0;
}


.userprofil{
display: flex; 
transition: ease 1s
}

.userprofil img{
width:40px;
height: 40px;
border-radius: 100%;
margin-left: 20px;
transition: ease 1s;
}

.userprofil a{
display: none;
transition: ease 1s;
}



.openmenu.userprofil{
display: flex;
flex-direction: column;
padding: 0px;
transition: ease 1s;
}

.openmenu.userprofil img{
width: 50px;
height: 50px;
border-radius: 100%;
display: block;
margin-left: auto;
margin-right: auto;
transition: ease 1s;
}

.openmenu.userprofil a{
display: block;
padding-top: 5px;
color: var(--skin-light);
transition: ease 1s;
}

.menu_list{
display: flex;
padding: 5px;
flex-direction: column;
}

.menu_list li{
width: 100%;
transition: 1s ease-in-out ;
}

.menu_vertical li:hover{
width: 100%;
background-color: var(--bg-black-900);
border-radius: 20px;
transition: 1s ease-in-out;
}

.menu_vertical li i{
transition: 1s ease-in-out;
}

.menu_vertical li:hover i{
background-color: var(--skin-color);
border-radius: 10px;
color: white;
transition: 1s ease-in-out ;
}

.menu_vertical li  span{
transition: 1s ease-in-out;
}

.menu_vertical li:hover  span{
color: var(--skin-btn);
transition: 1s ease-in-out ;
}




.itemlist{
display: flex;
}

.menu_list i{
font-size: 20px;
padding: 10px;
color: var(--skin-light);
transition: 1s ease;
}

.menu_list span{
display: block;
font-size: 16px;
color: var(--bg-black-900);
padding: 10px;
padding-left: 40px;
transition: ease 1s ;
}




.menu_vertical li.active{
display: flex;
margin-left: 30px;
width: 100%;
background-color: var(--bg-black-900);
border-radius: 10px;
position: relative;
}

.menu_vertical li.active::before{
content:" ";
width:100%;
height: 10px;
border-radius: 20px 0 0 20px;
background-color: var(--bg-black-900);
position: absolute;
top: 50%;
left: -99%;
transform: translate(0,-50%);
transition:ease  1s ;
}



.menu_vertical li.active i{
background-color: var(--skin-color);
border-radius: 10px;
color: white;
transition:  ease 1s;
}

.menu_vertical li.active span{
font-size: 16px;
color: var(--text-black-900);
padding-left: 30px;
transition:  ease 1s;
}



}


